
<% include layout/header.ejs %> 
<% if(typeof dulieu!=="undefined"){ %> 
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/posts/<%= dulieu.image %>')">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= dulieu.title %></h1>
            <span class="meta">Posted by
              <a href="#"><%= dulieu.username %> </a>
              on <%= dulieu.createAt.toDateString() %> </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
         <%- dulieu.content %> 
        </div>
      </div>
    </div>
  </article>
  <% }else{ %> 
    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Chưa có bài viết nào hết</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
<% } %> 
  <!-- Footer -->
  
    <% include layout/footer.ejs %> 